---
// src/layouts/AulaLayout.astro
import { getCollection } from 'astro:content';
import Layout from '~/layouts/Layout.astro'; // Importa o layout principal

// Recebe a 'aulaAtual' que foi passada pelo [slug].astro
const { aulaAtual } = Astro.props;
const base = import.meta.env.BASE_URL.endsWith('/') ? import.meta.env.BASE_URL : import.meta.env.BASE_URL + '/';
// Busca todas as aulas da coleção para montar o menu
const todasAsAulas = (await getCollection('curso-escrita'))
  .filter(aula => aula.data.menu === true) // Adiciona o filtro aqui
  .sort((a, b) => a.data.ordem - b.data.ordem);
---
<Layout title={aulaAtual.data.title}>
    <main class="container-sala-de-aula">
        <aside class="menu-aulas">
            <h3>Escrita Científica</h3>
            <ol>
                {todasAsAulas.map(aula => {
                    const aulaUrl = `${base}cursos/curso-escrita/${aula.slug}`;
                    const isAtiva = aula.slug === aulaAtual.slug;
                    return (
                        <li class:list={[{'aula-ativa': isAtiva}]}>
                            <a href={aulaUrl}>
                                <i class="fas fa-video"></i> {aula.data.title}
                            </a>
                        </li>
                    )
                })}
            </ol>
        </aside>
        <div class="conteudo-aula">
            <slot />
        </div>
    </main>
</Layout>